In [282]:
import numpy as np
import pandas as pd

In [283]:
df = pd.read_csv(r'C:\Users\User\Downloads\sport_athletes.csv')
df

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

In [284]:
# df.groupby('Sport Type')[['Weight(kg)', 'Height(cm)', 'Wins']].max().rename(
#      columns={'Weight(kg)': 'max_weight' , 'Height(cm)': 'max_height', 'Wins': 'max_wins'})
# df.groupby('Sport Type')['Weight(kg)'].min().sort_values()
# df.groupby('Sport Type')['Height(cm)'].nlargest(2)

In [285]:
# df.groupby(['Country', 'Sport Type']).max()
# df.groupby(['Country', 'Sport Type']).max().loc[('USA', 'Basketball')]
# df.groupby(['Country', 'Sport Type']).max().xs(level='Sport Type', key='Soccer')
# ◊ú◊ó◊ú◊ï◊§◊ô◊ü ◊ô◊õ◊ï◊ú◊™◊ô ◊§◊©◊ï◊ò ◊ú◊î◊ó◊ú◊ô◊£ ◊ê◊™ ◊î◊°◊ì◊® ◊©◊ú ◊îgroupby ◊ï◊ú◊î◊©◊™◊û◊© ◊ëloc
# df[df['Sport Type'].isin(['Soccer', 'Tennis'])].groupby(['Country', 'Sport Type']).max().swaplevel()
df.agg({'Wins':['max', 'min', 'mean', 'std'], 'Height(cm)': ['max', 'min', 'mean', 'std']})

          Wins  Height(cm)
max   6.000000  216.000000
min   1.000000  142.000000
mean  3.388889  181.333333
std   1.102666   16.568473

In [286]:
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] })

pd.concat([df, new_rows], axis=0, ignore_index=True)

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
36,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
37,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

In [432]:
# df['Olympic Date'] = pd.to_datetime(df['Olympic Date'], format='%d/%m/%Y')
# df.set_index('Olympic Date', inplace=True)
yearly_wins = df.resample(rule='YE')['Wins'].sum()
yearly_wins
yearly_wins[yearly_wins > 0]

Olympic Date
1970-12-31     3
1976-12-31     5
1980-12-31     5
1984-12-31     4
1988-12-31     4
1992-12-31     3
1998-12-31     3
2000-12-31     5
2004-12-31     8
2008-12-31    13
2012-12-31    26
2016-12-31    30
2020-12-31    13
Name: Wins, dtype: int64

In [434]:
smoker = pd.read_csv(r'C:\Users\User\Downloads\athletes_smoking.csv')
smoker

         Athlete Name Smoking
0      Michael Jordan      No
1        LeBron James      No
2         Kobe Bryant     Yes
3          Usain Bolt      No
4        Simone Biles      No
5       Wayne Gretzky     Yes
6        Lindsey Vonn      No
7        Rafael Nadal      No
8        Lionel Messi     Yes
9   Cristiano Ronaldo      No
10      Megan Rapinoe      No
11       Kevin Durant      No
12   Shaquille O'Neal      No
13         Carl Lewis     Yes
14         Ian Thorpe      No

In [448]:
pd.merge(smoker, df, on='Athlete Name', how='inner') # ◊ê◊ï left
pd.merge(smoker, df, on='Athlete Name', how='outer') # ◊ê◊ï right

,Athlete Name,Smoking,Country,Sport Type,Height(cm),Weight(kg),Wins
0,Michael Jordan,No,USA,Basketball,198,98,3
1,LeBron James,No,USA,Basketball,206,113,2
2,Kobe Bryant,Yes,USA,Basketball,198,96,2
3,Kevin Durant,No,USA,Basketball,208,109,3
4,Shaquille O'Neal,No,USA,Basketball,216,147,1
5,Pel√©,NaN,Brazil,Soccer,174,72,3
6,Marta,NaN,Brazil,Soccer,163,57,3
7,Cristiano Ronaldo,No,Portugal,Soccer,187,83,2
8,Lionel Messi,Yes,Argentina,Soccer,170,69,2
9,Zinedine Zidane,NaN,France,Soccer,185,80,3
10,Megan Rapinoe,No,USA,Soccer,168,62,2
11,Michael Phelps,NaN,USA,Swimming,193,88,5
12,Katie Ledecky,NaN,USA,Swimming,180,58,4
13,Caeleb Dressel,NaN,USA,Swimming,191,88,3
14,Ian Thorpe,No,Australia,Swimming,196,85,4
15,Sun Yang,NaN,China,Swimming,200,90,3
16,Roger Federer,NaN,Switzerland,Tennis,185,85,2
17,Serena Williams,NaN,USA,Tennis,175,70,4
18,Rafael Nadal,No,Spain,Tennis,185,85,3
19,Novak Djokovic,NaN,Serbia,Tennis,188,84,4
20,Usain Bolt,No,Jamaica,Track and Field,195,94,6
21,Carl Lewis,Yes,USA,Track and Field,188,81,4
22,Mo Farah,NaN,UK,Track and Field,176,65,5
23,Florence Griffith,NaN,USA,Track and Field,165,57,4
24,Ashton Eaton,NaN,USA,Track and Field,185,77,3
25,Chris Froome,NaN,UK,Cycling,180,70,4
26,Eddy Merckx,NaN,Belgium,Cycling,181,72,5
27,Tadej Pogacar,NaN,Slovenia,Cycling,184,69,3
28,Primoz Roglic,NaN,Slovenia,Cycling,186,68,3
29,Geraint Thomas,NaN,UK,Cycling,183,71,4
30,Anna van der Breggen,NaN,Netherlands,Cycling,175,68,4
31,Simone Biles,No,USA,Gymnastics,142,48,5
32,Nadia Comaneci,NaN,Romania,Gymnastics,155,50,5
33,Aly Raisman,NaN,USA,Gymnastics,160,52,3
34,Shawn Johnson,NaN,USA,Gymnastics,157,50,3
35,Gabby Douglas,NaN,USA,Gymnastics,150,45,3